services:
  web:
    image: caddy:2.6
    environment:
      SERVER_NAME: ${SERVER_NAME}
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
    volumes:
      - ".:/var/www/html"
      - caddy-data:/data
      - caddy-config:/config
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./docker/caddy/certs:/var/ssl/certs
    networks:
      - app
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: docker
      dockerfile: php-fpm/Dockerfile
      args:
        WWW_USER_ID: ${WWW_USER_ID:-1000}
    tty: true
    volumes:
      - ".:/var/www/html"
    networks:
      - app

  workspace:
    build:
      context: docker
      dockerfile: workspace/Dockerfile
      args:
        WWW_USER_ID: ${WWW_USER_ID:-1000}
    tty: true
    ports:
      - "${VITE_PORT:-5173}:${VITE_PORT:-5173}"
    volumes:
      - ".:/var/www/html"
      - "${HOME}/.composer:/home/app/.composer"
    networks:
      - app

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - data-mysql:/var/lib/mysql
      - ./docker/mysql/create-test-database.sh:/docker-entrypoint-initdb.d/10-create-test-database.sh
    networks:
      - app

  redis:
    image: redis:7-alpine
    volumes:
      - data-redis:/data
    networks:
      - app

  mailpit:
    image: axllent/mailpit:v1.3.8
    ports:
      - "${MAILPIT_PORT:-1025}:1025"
      - "${MAILPIT_DASHBOARD_PORT:-8025}:8025"
    networks:
      - app

  composer:
    profiles:
      - test
    build:
      context: ./docker/composer
    volumes:
      - ".:/app"
      - composer-tmp:/tmp

  typesense:
    image: typesense/typesense:27.1
    ports:
      - "${TYPESENSE_PORT:-8108}:8108"
    environment:
      TYPESENSE_DATA_DIR: "${TYPESENSE_DATA_DIR:-/typesense-data}"
      TYPESENSE_API_KEY: "${TYPESENSE_API_KEY}"
      TYPESENSE_ENABLE_CORS: "${TYPESENSE_ENABLE_CORS:-true}"
    volumes:
      - data-typesense:/typesense-data
    networks:
      - app

networks:
  app: {}

volumes:
  data-typesense: {}
  data-mysql: {}
  data-redis: {}
  caddy-data: {}
  caddy-config: {}
  composer-tmp: {}
